# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub/
.pub-cache/
build/

# iOS
**/ios/Flutter/.last_build_id

# Symbolication
app.*.symbols
app.*.map.json

# Android outputs
/android/app/debug
/android/app/profile
/android/app/release